@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Mulish:ital,wght@0,200..1000;1,200..1000&family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Oswald:wght@200..700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Raleway:ital,wght@0,100..900;1,100..900&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
*{
    margin: 0;
    padding: 0;
}
body{
    overflow: hidden;
}
span{
    font-weight: bolder;
}
img{
    width: 3.5vw;
}
header{
    background-color: #2E5E60;
    height: 8vh;
    display: flex;
    align-items: center;
}
.part1{
    color:#E4D6A7;
}
.part2{
    color:#FF9292;
}
.part3{
    color:#74A6E8;
}
#brandName1{
    margin-left: 0.75vw;
    font-size: 2vw;
    font-weight: bold;
    margin-left: 0.75vw;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}
#motto{
    color: #E9B44C;
    margin-left: 0.75vw;
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-style: italic;
}
#sign-upPage{
    display: flex;
    align-items: center;
    width: 100%;
    height: 86vh;
    justify-content: center;
    object-fit: cover;
}
#bgSign-up{
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -2;
    filter: blur(3px);
}
#profile{
    background-color: aliceblue;
    width: 100%;
    height: 86vh;
}
#bgProfile {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 0;
}
#bgProfile img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
#userForm{
    z-index: 1;
    background-color: #9B2915;
    border-radius: 1vw;
    width: 43vw;
    height: 70vh;
    display: flex;
    justify-content: center;
    color: antiquewhite;
    flex-direction: column;
    align-items: center; 
    box-shadow: 8px 8px 4px lightcyan;
}
#sidePicDIV{
    border-radius: 1vw;
    width: 32vw;
    height: 70vh;
    margin-right: -150px;
    object-fit: cover;
    overflow: hidden;
    box-shadow: 8px 8px 4px lightcyan;
}
#sidePicDIV img{
    width: 100%;
    height: 100%;
}
#logoDIV{
    display: flex;
    align-items: center;
    margin-top: 0.25vh;
    font-family: "Montserrat", sans-serif;
    font-weight: bold;
    color: #C89116
}
#brandName2{
    margin-left: 0.5vh;
}
h2{
    font-size: 3vw;
    margin-bottom: 3vh;
    font-family: "Abril Fatface", serif;
    font-weight: 400;
    font-style: normal;
}
.requiredSymbol{
    color:#FF9292;
}
.inputText{
    display: inline-block;
    width: 140px;
}
.one-linerInput{
    width: 200px;
}
input, #sexMotherDIV, #support{
    margin-bottom: 0.5vh;
}
.requiredFields{
    color: #FF9292;
    font-style: italic;
    font-family: "Raleway", sans-serif;
    font-optical-sizing: auto;
    font-style: italic;
    font-weight: 200;
}
label {
    font-family: "Nunito", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}
input, textarea{
    font-family: "Mulish", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}
#sexMotherDIV, #supportMotherDIV, #sexLabel{
    display: flex;
    align-items: center;
}
#sexLabel{
    width: 145px;
    font-family: "Mulish", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}
#pWord{
    margin-bottom: 1.5vh;
}
#sexChoices{
    width: 200px;
    border: 0.5px rgb(130, 130, 130) solid;
    margin-right: 0.25vw;
    background-color: rgb(255, 255, 255);
    color: rgb(136, 126, 125);
}
#support{
    margin-right: 0.25vw;
}
#button{
    position: relative;
    margin-top: 3vh;
    width: 8vw;
    height: 3vh;
    border-radius: 2vw;
    border: 0;
    color: rgb(90, 24, 12);
    font-weight: bolder;
    background-color: #E4D6A7;
    transition: 1s ease-out;
}
#button:hover{
    width: 8.5vw;
    height: 3.5vh;
    font-size: 1.1vw;
    transition: 0.5s ease-in;
    color: antiquewhite;
    background-color: #E9B44C;
}
footer{
    background-color: #2E5E60;
    color: #E9B44C;
    position: absolute;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 6vh;
    width: 100%;
    bottom: 0;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}
#brandLogo{
    margin-top: 0.3vh;
    margin-left: 2vw;
}
#about{
    margin-left: 1vw;
}
#copyright{
    margin-right: 1vw;
}
#cover{
    position: absolute;
    background-color: #E9B44C;
    height: 60vh;
    width: 100%;
    opacity: .70;
}
#profileSection{
    float: left;
    position: relative;
    align-items: center;
    border-radius: 3vw;
    height: 59vh;
    width: 40vw;
    margin-left: 7vw;
    margin-top: 15vh;
    background-color: #9B2915;
    color: #E9B44C;
}
#smallpic{
    background-color: gray;
    position: absolute;
    left: 3vw;
    top: -9vh;
    border-radius: 50%;
    width: 12vw;
    height: 24vh;
    float: left;
    z-index: 3;
    object-fit: cover;
}
#smallpic img{
    width: 100%;
    height: 100%;
}
#outputSupport{
    float: left;
    position: absolute;
    text-align: left;
    left: 5vw;
    top: 40vh;
    font-size:large;
    text-align: left;
    font-family: "Open Sans", sans-serif;
    font-weight: 300;
}
#outputLN, #outputFN{
    font-family: "Oswald", sans-serif;
    font-size: 2.75vw;
}
#outputLN{
    float: right;
    position: absolute;
    top: 7vh;
    left: 17vw;
    text-align: left;
}
#outputFN{
    float: right;
    position: absolute;
    top: 13vh;
    left: 17vw;
    text-align: left;
}
#outputSex{
    float: right;
    position: absolute;
    top: 22vh;
    left: 17vw;
    text-align: left;
    font-style: italic;
    font-family: "Poppins", sans-serif;
}
#outputEmail{
    float: right;
    position: absolute;
    top: 25vh;
    left: 17vw;
    text-align: left;
    font-style: italic;
    text-decoration: underline;
    font-family: "Poppins", sans-serif;
}
#line{
    position: absolute;
    left: 4vw;
    top: 38.5vh;
    height: 7vh;
    color: #E4D6A7;
    background-color: #E4D6A7;
}
#profileHeader{
    color: #2E5E60;
    margin-top: 3.5vh;
    font-weight: 1000;
    font-size: 4.5vw;
}
#campaign, #mission, #vision{
    font-family: "Roboto", sans-serif;
}
#campaignText, #missionText, #visionText{
    font-family: "Roboto Condensed", sans-serif;
}
#websiteDetails{
    display: flex;
    flex-direction: column;
    position: absolute;
    right: 0;
    z-index: 15;
    text-align: right;
    margin-right: 3vw;
    width: 45vw;
}
#campaign{
    color: #2E5E60;
    font-weight: bold;
    margin-top: 1vh;
}
#campaignText{
    color: #2E5E60;
}
#mission{
    color: #9B2915;
    font-weight: bold;
    margin-top: 4.5vh;
}
#missionText{
    color: #9B2915;
}
#vision{
    color: #E9B44C;
    font-weight: bold;
    margin-top: 5vh;
}
#visionText{
    color: #E9B44C;
}

