@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Mulish:ital,wght@0,200..1000;1,200..1000&family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Oswald:wght@200..700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Raleway:ital,wght@0,100..900;1,100..900&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
*{
    margin: 0;
    padding: 0;
}
span{
    font-weight: bolder;
}
img{
    width: 3.5vw;
}
header{
    background-color: #2E5E60;
    height: 8vh;
    display: flex;
    align-items: center;
}
.part1{
    color:#E4D6A7;
}
.part2{
    color:#FF9292;
}
.part3{
    color:#74A6E8;
}
#brandName1{
    margin-left: 0.75vw;
    font-size: 2vw;
    font-weight: bold;
    margin-left: 0.75vw;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}
#motto{
    color: #E9B44C;
    margin-left: 0.75vw;
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-style: italic;
}
#sign-upPage{
    display: flex;
    align-items: center;
    width: 100%;
    height: 87vh;
    justify-content: center;
}
#userForm{
    z-index: 1;
    background-color: #9B2915;
    border-radius: 1vw;
    width: 43vw;
    height: 70vh;
    display: flex;
    justify-content: center;
    color: antiquewhite;
    flex-direction: column;
    align-items: center; 
}
#sidePicDIV{
    background-color: rgb(228, 214, 167);
    border-radius: 1vw;
    width: 32vw;
    height: 70vh;
    margin-right: -150px;
}
#logoDIV{
    display: flex;
    align-items: center;
    margin-top: 0.25vh;
    font-family: "Montserrat", sans-serif;
    font-weight: bold;
    color: #C89116
}
#brandName2{
    margin-left: 0.5vh;
}
h2{
    font-size: 3vw;
    margin-bottom: 3vh;
    font-family: "Abril Fatface", serif;
    font-weight: 400;
    font-style: normal;
}
.requiredSymbol{
    color:#FF9292;
}
.inputText{
    display: inline-block;
    width: 140px;
}
.one-linerInput{
    width: 200px;
}
input, #sexMotherDIV, #support{
    margin-bottom: 0.5vh;
}
.requiredFields{
    color: #FF9292;
    font-style: italic;
    font-family: "Raleway", sans-serif;
    font-optical-sizing: auto;
    font-style: italic;
    font-weight: 200;
}
label {
    font-family: "Nunito", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}
input, textarea{
    font-family: "Mulish", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}
#sexMotherDIV, #supportMotherDIV, #sexLabel{
    display: flex;
    align-items: center;
}
#sexLabel{
    width: 145px;
    font-family: "Mulish", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}
#pWord{
    margin-bottom: 1.5vh;
}
#sexChoices{
    width: 200px;
    border: 0.5px rgb(130, 130, 130) solid;
    margin-right: 0.25vw;
    background-color: rgb(255, 255, 255);
    color: rgb(136, 126, 125);
}
#support{
    margin-right: 0.25vw;
}
#button{
    margin-top: 3vh;
    width: 10vw;
    height: 4vh;
    border-radius: 2vw;
    border: 0;
    color: rgb(90, 24, 12);
    font-weight: bolder;
    background-color: #E4D6A7;
}
footer{
    background-color: #2E5E60;
    color: #E9B44C;
    position: absolute;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 6vh;
    width: 100%;
    bottom: 0;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}
#brandLogo{
    margin-top: 0.3vh;
    margin-left: 2vw;
}
#about{
    margin-left: 1vw;
}
#copyright{
    margin-right: 1vw;
}
#cover{
    background-color: #E9B44C;
    height: 46vh;
}
#profilePage{
    float: left;
    position: relative;
    align-items: center;
    border-radius: 3vw;
    height: 59vh;
    width: 40vw;
    margin-left: 7vw;
    margin-top: -30vh;
    background-color: #9B2915;
    color: #E9B44C;
}
#smallpic{
    background-color: gray;
    position: relative;
    border-radius: 50%;
    width: 13vw;
    height: 26vh;
    float: left;
    margin-top: -43vh;
    margin-left: 10vw;
    z-index: 3;
}
#outputSupport{
    float: left;
    position: absolute;
    text-align: left;
    left: 5vw;
    top: 45.5vh;
    font-size: x-large;
    text-align: left;
}
#outputLN{
    float: right;
    position: absolute;
    top: 7vh;
    left: 18vw;
    font-size: xx-large;
    text-align: left;
}
#outputFN{
    float: right;
    position: absolute;
    top: 11vh;
    left: 18vw;
    font-size: xx-large;
    text-align: left;
}
#outputSex{
    float: right;
    position: absolute;
    top: 17vh;
    left: 18vw;
    text-align: left;
}
#outputEmail{
    float: right;
    position: absolute;
    top: 20vh;
    left: 18vw;
    text-align: left;
}
#line{
    float: left;
    position: absolute;
    left: 4vw;
    top: 44.3vh;
    height: 7vh;
    color: #E4D6A7;
    background-color: #E4D6A7;
}
#profile{
    float: right;
    position: relative;
    color: #2E5E60;
    margin-top: -40vh;
    margin-right: 3vw;
    font-size: xxx-large;
    font-weight: 1000;
}
#campaign{
    float: right;
    position: relative;
    color: #2E5E60;
    font-weight: bold;
    margin-top: -30vh;
    margin-right: 3vw;
}
#campaign1{
    float:right;
    position: relative;
    color: #2E5E60;
    margin-top: -28vh;
    margin-right: 3vw;
    width: 45vw;
    text-align: right;
}
#mission{
    float: right;
    position: relative;
    color: #9B2915;
    font-weight: bold;
    margin-top: -4vh;
    margin-right: 3vw;
}
#mission1{
    float: right;
    position: relative;
    color: #9B2915;
    margin-top: -2vh;
    margin-right: 3vw;
    width: 45vw;
    text-align: right;
}
#vision{
    float: right;
    position: relative;
    color: #E9B44C;
    font-weight: bold;
    margin-top: 11vh;
    margin-right: 3vw;
}
#vision1{
    float: right;
    position: relative;
    color: #E9B44C;
    margin-top: 0vh;
    margin-right: 3vw;
    width: 45vw;
    text-align: right;
}

