.symbolRequired{
    color:red;
}

.position1{
    display: inline-block;
    width: 120px;
}

.one-linerInput{
    width: 200px;
}

input, #sexMotherDIV, #support{
    margin-bottom: 1.5vh;
}

#sexMotherDIV, #supportMotherDIV, #sexLabel{
    display: flex;
    align-items: center;
}

#sexLabel{
    width: 125px;
}

#sexChoices{
    width: 205px;
    border: 0.5px rgb(130, 130, 130) solid;
    margin-right: 0.25vw;
}

.notice{
    color: red;
    font-style: italic;
}

#support{
    margin-right: 0.25vw;
}